# 1. create an APP on IFLYTEC(https://www.xfyun.cn/) platform
# 2. complete them with your own IFLYTEC(https://www.xfyun.cn/) APP secret
# 3. change file name into .env

LIVENESS_DETECTION_APPID=
LIVENESS_DETECTION_APISECRET=
LIVENESS_DETECTION_APIKEY=
